head
  title Jobly

body
  +layout

template(name="jobs")
  if hasLoaded
    .jobs
    each job
      li #{company}
        strong #{title}
        | #{type}
        | #{location}
  else
    +spinner

template(name="layout")
  .layout
    .row
      .container    
        .header
          h4 JBLY
          p.lead Find great jobs from all over the internets.
        .jobs
          ul
          +jobs
        .footer
          © 2015 Derry Birkett
