head
  title Jobly

body
  +layout

template(name="jobs")
  if hasLoaded
    each job
      li #{company}
        strong #{title}
        | #{type}
        | #{location}
  else
    +spinner

template(name="layout")
  .row
    .container
      h4 JBLY
      .jobs
        ul
        +jobs
