head
  title Jobly

body
  +layout

template(name="jobs")
  each job
    li #{company}
      strong #{title}
      | #{type}
      | #{location}

template(name="layout")
  .row
    .container
      h4 JBLY
      .jobs
        ul
        +jobs
