head
  title Jobly

body
  +head
  +layout

template(name="jobs")
  each job
    tr
      td {{company}} 
      td {{title}}
      td {{type}}
      td {{location}}

template(name="layout")
  .jobs
    table.table
      thead
        tr
          th Company Name
          th Title
          th Type
          th Location
      tbody
        +jobs

template(name="head")
  nav.navbar.navbar-inverse
    a.navbar-brand JBLY
